.product-section-container {
  width: 90vw;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.product-section {
  position: relative;
  width: 1400px;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
  height: 10vh;
  overflow-y: auto;
}

.product-section::-webkit-scrollbar {
  display: none;
}

.prodict-section-title {
  font-size: 1.5rem;
}

.steps-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stepTwo-title-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.step-by-step {
  font-size: 16px;
  font-weight: bold;
  color: grey;
  margin-bottom: 10px;
}

.step-information-2 {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.stepTwo-title-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.change-btn {
  margin-left: 10px;
  padding: 9px 16px;
  background-color: #227e3c;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 120px;
  transition: background-color 0.3s ease;
}

.change-btn:hover {
  background-color: #125e28;
}

.productForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.productForm-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productForm-row {
  width: 90%;
  max-width: 100%;
  margin-left: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.productForm-item {
  display: flex;
  flex-direction: column;
  width: 22vw;
  gap: 5px;
}

.red {
  color: red;
}

.productForm-item input,
.productForm-item select {
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
  padding: 0px 10px;
}

.product-logo {
  position: absolute;
  top: 30vh;
  width: 25%;
  z-index: -1;
  opacity: 0.2;
}

.product-button {
  width: 200px;
  height: 40px;
  background-color: #227e3c;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.product-button:hover {
  scale: 1.05;
}

.custom-textarea {
  border-radius: 5px;
  border: 1px solid;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #333;
}
