.modal-box-bill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  background-color: #fff5eb;
  box-shadow: 24px 24px 48px rgba(69, 63, 63, 0.1);
  padding: 16px 32px 24px 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  z-index: 1200;
}

.modal-loading-icon {
  width: 70px !important;
  height: 70px !important;
  z-index: 1000;
}
