.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff5eb;
  padding: 20px;
  border-radius: 8px;
  width: 800px;
  max-width: 90vw;
  max-height: 90vh; /* Limita la altura del modal */
  overflow-y: auto;
}

.providerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.providerForm-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.providerForm-row {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.providerForm-item {
  display: flex;
  flex-direction: column;
  width: 22vw;
  gap: 5px;
}
.red {
  color: red;
}
.providerForm-item input,
.providerForm-item select {
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
}

.provider-button {
  width: 200px;
  height: 40px;
  background-color: #227e3c;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}
.provider-button:hover {
  scale: 1.05;
}
